.App {
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 228, 254, 1) 0%, rgba(188, 132, 173, 1) 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.expand {
  width: 100%;
}

.search-button {
  background: lightpink;
  border: none;
  padding: 10px 20px;
  color: white;
}

#woof-header {
  padding-top: 1em;
}

.top-spacing {
  padding-top: 2em !important;
}

.bg-circle {
  width: 5em !important;
}