.App {
  min-height: 100vh;
  background: url('./img/brooke-lark-kXQ3J7_2fpc-unsplash.jpg') no-repeat fixed;
  background-size: cover;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.expand {
  width: 100%;
}

.search-button {
  background: #2ace33;
  border: none;
  padding: 10px 20px;
  color: white;
}

#woof-header {
  padding-top: 1em;
}

.top-spacing {
  padding-top: 2em !important;
}

.bg-circle {
  width: 5em !important;
}

.ui.cards {
  justify-content: space-between;
}

.ui.raised.segment {
  padding: 3em;
  margin-right: -2em;
  margin-left: -2em;
  opacity: 0.95;
}

.ui.green.raised.card {
  margin-bottom: 3em;
}

.shadow {
  box-shadow: 3px 3px 9px darkgray;
}

a {
  color: #2ace33;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1em;
}